<html ng-app="TaskHero">
	<head>
		<title>Task Hero</title>
		<%= stylesheet_link_tag 'bootstrap/stylesheets/css/bootstrap.min.css', :cache => true %>
		<%= yield_content :stylesheets %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">

				</div>
				<div class="span10">
					<h1 class="text-center">Task Hero</h1>
					<h3 class="text-center">Under construction...</h3>
				</div>
			</div>			
		</div>		

		<div ng-controller="TaskCtrl">
			<button ng-click="getAllTasks()">Load!</button>
			<h2>All Tasks</h2>
			<ul>
				<li ng-repeat="task in allTasks">
					<h4>{{task.title}}</h2>
					<p>{{task.description}}</p>
					<p>Owner: {{task.user.name}}</p>
					<p>Completed? {{task.completed}}</p>
				</li>
			</ul>
		</div>

		<%= javascript_include_tag 'angular.js' %>
		<%= javascript_include_tag 'angular-resource.js' %>
		<%= javascript_include_tag 'app.js' %>
		<%= javascript_include_tag 'services/tasks.js' %>
		<%= javascript_include_tag 'controllers/task.js' %>
		<%= yield_content :javascripts %>
	</body>
</html>