<!DOCTYPE html>
<html>
  <head>
    <title>TaskHero</title>
    <%= stylesheet_link_tag 'bootstrap.min', :cache => true %>
    <%= stylesheet_link_tag 'bootstrap-theme.min', :cache => true %>
    <%= stylesheet_link_tag 'main.css'%>
    <%= yield :stylesheets %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application.js' %>
    <%= yield :javascripts %>
  </body>
</html>
